# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CourseWork\CopyOfNikita-Stage1-Succeed\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
